# Job Board Scraping Lab

In this lab you will first see a minimal but fully functional code snippet to scrape the LinkedIn Job Search webpage. You will then work on top of the example code and complete several chanllenges.

### Some Resources 

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [43]:
#from datetime import datetime   
soup.find(class_="result-card__contents")

In [1]:
# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])

    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    soup = BeautifulSoup(page.text, 'html.parser')

    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [45]:
# Example to call the function

results = scrape_linkedin_job_search('data%20analysis')
results

,Title,Company,Location
0,Data Science and Analytics,Thermo Fisher Scientific,"Carlsbad, CA"
1,Data Analyst - Chicago,SpiderRock,"Chicago, IL"
2,Data Analyst,"Shoe Carnival, Inc.","Columbia, SC"
3,Data Analyst,"CapTech Ventures, Inc","Charlotte, NC"
4,"Analyst, Data and Analysis",Digitas India,"Boston, MA"
5,DATA ANALYST,Registry Ally,"Austin, TX"
6,"Fraud Intelligence, Data Operations Analyst",White Ops,New York City Metropolitan Area
7,"Data Analytics Associate, CrossInstall",General Mills,"San Francisco, CA"
8,"Data Engineer, Analytics",Facebook,"New York, NY"
9,Data Analyst In - CO8494523,American Medical Response,"Greenwood Village, CO"
10,"Analyst, Data and Analysis",Digitas North America,"Boston, MA"
11,Data Scientist (Remote),Kraken Digital Asset Exchange,"Chicago, IL"
12,Data Analyst,BlueWave Resource Partners,"Atlanta, GA"
13,Data Analyst - Internal Analytics Platform,Datadog,"New York, NY"
14,Staff Business Data Analysis,Intuit,"San Diego, CA"
15,Data Analysis Associate,Boom Lab,"Atlanta, GA"
16,Data Analyst,Intrado,"Longmont, CO"
17,Data Analyst - Mobile Analytics,Affine Analytics,"Los Angeles, CA"
18,DATA ANALYST INTERN,CARE,"Atlanta, GA"
19,Data Analyst,Instapage,"San Francisco, CA"
20,Data Analyst - Remote Position! - Dallas,Seasoned Recruitment,"Dallas, TX"
21,Quantitative Trading Analyst Intern,DRW,"Chicago, IL"
22,Data Analyst I,Massachusetts General Hospital,"Charlestown, NH"
23,Data Analyst,Booz Allen Hamilton,"Arlington, VA"
24,Data Analyst,Aditi Consulting,"Chandler, AZ"

## Challenge 1

The first challenge for you is to update the `scrape_linkedin_job_search` function by adding a new parameter called `num_pages`. This will allow you to search more than 25 jobs with this function. Suggested steps:

1. Go to https://www.linkedin.com/jobs/search/?keywords=data%20analysis in your browser.
1. Scroll down the left panel and click the page 2 link. Look at how the URL changes and identify the page offset parameter.
1. Add `num_pages` as a new param to the `scrape_linkedin_job_search` function. Update the function code so that it uses a "for" loop to retrieve several pages of search results.
1. Test your new function by scraping 5 pages of the search results.

Hint: Prepare for the case where there are less than 5 pages of search results. Your function should be robust enough to **not** trigger errors. Simply skip making additional searches and return all results if the search already reaches the end.

In [46]:
# your code here
def scrape_linkedin_job_search(keywords, num_pages):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    
    for num in range(num_pages):
        # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 'keywords=', keywords, "&start=", str(num * 25)])

        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')

    
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", 
                                      attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data
scrape_linkedin_job_search("data%20analysis", 2)

,Title,Company,Location
0,Data Science and Analytics,Thermo Fisher Scientific,"Carlsbad, CA"
1,Data Analyst - Chicago,SpiderRock,"Chicago, IL"
2,Data Analyst,"Shoe Carnival, Inc.","Columbia, SC"
3,Data Analyst,"CapTech Ventures, Inc","Charlotte, NC"
4,"Analyst, Data and Analysis",Digitas India,"Boston, MA"
5,DATA ANALYST,Registry Ally,"Austin, TX"
6,"Fraud Intelligence, Data Operations Analyst",White Ops,New York City Metropolitan Area
7,"Data Analytics Associate, CrossInstall",General Mills,"San Francisco, CA"
8,"Data Engineer, Analytics",Facebook,"New York, NY"
9,Data Analyst In - CO8494523,American Medical Response,"Greenwood Village, CO"
10,"Analyst, Data and Analysis",Digitas North America,"Boston, MA"
11,Data Scientist (Remote),Kraken Digital Asset Exchange,"Chicago, IL"
12,Data Analyst,BlueWave Resource Partners,"Atlanta, GA"
13,Data Analyst - Internal Analytics Platform,Datadog,"New York, NY"
14,Staff Business Data Analysis,Intuit,"San Diego, CA"
15,Data Analysis Associate,Boom Lab,"Atlanta, GA"
16,Data Analyst,Intrado,"Longmont, CO"
17,Data Analyst - Mobile Analytics,Affine Analytics,"Los Angeles, CA"
18,DATA ANALYST INTERN,CARE,"Atlanta, GA"
19,Data Analyst,Instapage,"San Francisco, CA"
20,Data Analyst - Remote Position! - Dallas,Seasoned Recruitment,"Dallas, TX"
21,Quantitative Trading Analyst Intern,DRW,"Chicago, IL"
22,Data Analyst I,Massachusetts General Hospital,"Charlestown, NH"
23,Data Analyst,Booz Allen Hamilton,"Arlington, VA"
24,Data Analyst,Aditi Consulting,"Chandler, AZ"
25,Data Science and Analytics,Thermo Fisher Scientific,"Carlsbad, CA"
26,Data Analyst - Chicago,SpiderRock,"Chicago, IL"
27,Data Analyst,"Shoe Carnival, Inc.","Columbia, SC"
28,Data Analyst,"CapTech Ventures, Inc","Charlotte, NC"
29,"Analyst, Data and Analysis",Digitas India,"Boston, MA"
30,DATA ANALYST,Registry Ally,"Austin, TX"
31,"Fraud Intelligence, Data Operations Analyst",White Ops,New York City Metropolitan Area
32,"Data Analytics Associate, CrossInstall",General Mills,"San Francisco, CA"
33,"Data Engineer, Analytics",Facebook,"New York, NY"
34,Data Analyst In - CO8494523,American Medical Response,"Greenwood Village, CO"
35,"Analyst, Data and Analysis",Digitas North America,"Boston, MA"
36,Data Scientist (Remote),Kraken Digital Asset Exchange,"Chicago, IL"
37,Data Analyst,BlueWave Resource Partners,"Atlanta, GA"
38,Data Analyst - Internal Analytics Platform,Datadog,"New York, NY"
39,Staff Business Data Analysis,Intuit,"San Diego, CA"
40,Data Analysis Associate,Boom Lab,"Atlanta, GA"
41,Data Analyst,Intrado,"Longmont, CO"
42,Data Analyst - Mobile Analytics,Affine Analytics,"Los Angeles, CA"
43,DATA ANALYST INTERN,CARE,"Atlanta, GA"
44,Data Analyst,Instapage,"San Francisco, CA"
45,Data Analyst - Remote Position! - Dallas,Seasoned Recruitment,"Dallas, TX"
46,Quantitative Trading Analyst Intern,DRW,"Chicago, IL"
47,Data Analyst I,Massachusetts General Hospital,"Charlestown, NH"
48,Data Analyst,Booz Allen Hamilton,"Arlington, VA"
49,Data Analyst,Aditi Consulting,"Chandler, AZ"

## Challenge 2

Further improve your function so that it can search jobs in a specific country. Add the 3rd param to your function called `country`. The steps are identical to those in Challange 1.

In [47]:
# your code here
def scrape_linkedin_job_search(keywords, num_pages, country):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    
    for num in range(num_pages):
        # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 
                              'keywords=', keywords, 
                              "&start=", str(num * 25),
                              "&location=", country])

        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')

    
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", 
                                      attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data
scrape_linkedin_job_search("data%20analysis", 2, "Netherlands")

,Title,Company,Location
0,Data Analyst (Amsterdam/Remote) - IamExpat,IamExpat,"Amsterdam, North Holland, Netherlands"
1,"Analyst, Data Management and Analysis (Remote)",Tent Partnership for Refugees,"Amsterdam, North Holland, Netherlands"
2,Data Analyst (Amsterdam/Remote),Orange Quarter,"Nederland, Overijssel, Netherlands"
3,Manager Data Analysis,Visser & Van Baars,"South Holland, Netherlands"
4,Data Officer at Risk and Finance,ING Nederland,"Amsterdam, North Holland, Netherlands"
5,Stage Data Analysis & Visualisatie,ABN AMRO Bank N.V.,"Amsterdam, North Holland, Netherlands"
6,Data Analyst,Freshheads,"Tilburg, North Brabant, Netherlands"
7,Data Analyst,Cycleon,"Utrecht, Netherlands"
8,Data/Brand Analyst,Patagonia,"Amsterdam, North Holland, Netherlands"
9,Data Analyst,Tiqets,"Amsterdam, North Holland, Netherlands"
10,Internship | Business Intelligence & Data Anal...,HousingAnywhere,"Rotterdam, South Holland, Netherlands"
11,Global Data Analyst,Danone,"Hoofddorp, North Holland, Netherlands"
12,Technical Research Analyst (Data Science),SKIM,"Rotterdam, South Holland, Netherlands"
13,Associate: Big data Analytics,YGroup Companies,"Amsterdam, North Holland, Netherlands"
14,Data Scientist,Catella,"Maastricht, Limburg, Netherlands"
15,Data Analyst Scoober,Takeaway.com,"Amsterdam, North Holland, Netherlands"
16,Intern Data Science Consultant,Sia Partners,"Amsterdam, North Holland, Netherlands"
17,Data Analist,Brunel,"Amsterdam, North Holland, Netherlands"
18,Risk Assurance Data Analytics Associate,PwC Nederland,"Amsterdam, North Holland, Netherlands"
19,Data Scientist,INREV,"Koog aan de Zaan, North Holland, Netherlands"
20,Intern Data Science,AkzoNobel,"Sassenheim, South Holland, Netherlands"
21,R&D Modelling Statistics Specialist,JACOBS DOUWE EGBERTS,"Utrecht, Utrecht, Netherlands"
22,Fault Data Analyst,Thales,"Hengelo, Overijssel, Netherlands"
23,Quantitative Analyst,NewForesight,"Utrecht, Utrecht, Netherlands"
24,Internship: Business & Data Analytics of Risk ...,Philips,"Amsterdam, North Holland, Netherlands"
25,Data Analyst (Amsterdam/Remote) - IamExpat,IamExpat,"Amsterdam, North Holland, Netherlands"
26,"Analyst, Data Management and Analysis (Remote)",Tent Partnership for Refugees,"Amsterdam, North Holland, Netherlands"
27,Data Analyst (Amsterdam/Remote),Orange Quarter,"Nederland, Overijssel, Netherlands"
28,Manager Data Analysis,Visser & Van Baars,"South Holland, Netherlands"
29,Data Officer at Risk and Finance,ING Nederland,"Amsterdam, North Holland, Netherlands"
30,Stage Data Analysis & Visualisatie,ABN AMRO Bank N.V.,"Amsterdam, North Holland, Netherlands"
31,Data Analyst,Freshheads,"Tilburg, North Brabant, Netherlands"
32,Data Analyst,Cycleon,"Utrecht, Netherlands"
33,Data/Brand Analyst,Patagonia,"Amsterdam, North Holland, Netherlands"
34,Data Analyst,Tiqets,"Amsterdam, North Holland, Netherlands"
35,Internship | Business Intelligence & Data Anal...,HousingAnywhere,"Rotterdam, South Holland, Netherlands"
36,Global Data Analyst,Danone,"Hoofddorp, North Holland, Netherlands"
37,Technical Research Analyst (Data Science),SKIM,"Rotterdam, South Holland, Netherlands"
38,Associate: Big data Analytics,YGroup Companies,"Amsterdam, North Holland, Netherlands"
39,Data Scientist,Catella,"Maastricht, Limburg, Netherlands"
40,Data Analyst Scoober,Takeaway.com,"Amsterdam, North Holland, Netherlands"
41,Intern Data Science Consultant,Sia Partners,"Amsterdam, North Holland, Netherlands"
42,Data Analist,Brunel,"Amsterdam, North Holland, Netherlands"
43,Risk Assurance Data Analytics Associate,PwC Nederland,"Amsterdam, North Holland, Netherlands"
44,Data Scientist,INREV,"Koog aan de Zaan, North Holland, Netherlands"
45,Intern Data Science,AkzoNobel,"Sassenheim, South Holland, Netherlands"
46,R&D Modelling Statistics Specialist,JACOBS DOUWE EGBERTS,"Utrecht, Utrecht, Netherlands"
47,Fault Data Analyst,Thales,"Hengelo, Overijssel, Netherlands"
48,Quantitative Analyst,NewForesight,"Utrecht, Utrecht, Netherlands"
49,Internship: Business & Data Analytics of Risk ...,Philips,"Amsterdam, North Holland, Netherlands"

## Challenge 3

Add the 4th param called `num_days` to your function to allow it to search jobs posted in the past X days. Note that in the LinkedIn job search the searched timespan is specified with the following param:

```
f_TPR=r259200
```

The number part in the param value is the number of seconds. 259,200 seconds equal to 3 days. You need to convert `num_days` to number of seconds and supply that info to LinkedIn job search.

In [48]:
# your code here
# your code here
def scrape_linkedin_job_search(keywords, num_pages, country, num_days):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Number of days
    num_days *= 86400
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    
    for num in range(num_pages):
        # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 
                              'keywords=', keywords, 
                              "&f_TPR=r", str(num_days),
                              "&start=", str(num * 25),
                              "&location=", country])

        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')

    
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", 
                                      attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data
scrape_linkedin_job_search("data%20analysis", 2, "United%20States", 1)

,Title,Company,Location
0,Data Science and Analytics,Thermo Fisher Scientific,"Carlsbad, CA"
1,Data Analyst - Chicago,SpiderRock,"Chicago, IL"
2,Data Analyst,"Shoe Carnival, Inc.","Columbia, SC"
3,Data Analyst,"CapTech Ventures, Inc","Charlotte, NC"
4,"Analyst, Data and Analysis",Digitas India,"Boston, MA"
5,DATA ANALYST,Registry Ally,"Austin, TX"
6,"Fraud Intelligence, Data Operations Analyst",White Ops,New York City Metropolitan Area
7,"Data Analytics Associate, CrossInstall",General Mills,"San Francisco, CA"
8,"Data Engineer, Analytics",Facebook,"New York, NY"
9,Data Analyst In - CO8494523,American Medical Response,"Greenwood Village, CO"
10,"Analyst, Data and Analysis",Digitas North America,"Boston, MA"
11,Data Scientist (Remote),Kraken Digital Asset Exchange,"Chicago, IL"
12,Data Analyst,BlueWave Resource Partners,"Atlanta, GA"
13,Data Analyst - Internal Analytics Platform,Datadog,"New York, NY"
14,Staff Business Data Analysis,Intuit,"San Diego, CA"
15,Data Analysis Associate,Boom Lab,"Atlanta, GA"
16,Data Analyst,Intrado,"Longmont, CO"
17,Data Analyst - Mobile Analytics,Affine Analytics,"Los Angeles, CA"
18,DATA ANALYST INTERN,CARE,"Atlanta, GA"
19,Data Analyst,Instapage,"San Francisco, CA"
20,Data Analyst - Remote Position! - Dallas,Seasoned Recruitment,"Dallas, TX"
21,Quantitative Trading Analyst Intern,DRW,"Chicago, IL"
22,Data Analyst I,Massachusetts General Hospital,"Charlestown, NH"
23,Data Analyst,Booz Allen Hamilton,"Arlington, VA"
24,Data Analyst,Aditi Consulting,"Chandler, AZ"
25,Data Science and Analytics,Thermo Fisher Scientific,"Carlsbad, CA"
26,Data Analyst - Chicago,SpiderRock,"Chicago, IL"
27,Data Analyst,"Shoe Carnival, Inc.","Columbia, SC"
28,Data Analyst,"CapTech Ventures, Inc","Charlotte, NC"
29,"Analyst, Data and Analysis",Digitas India,"Boston, MA"
30,DATA ANALYST,Registry Ally,"Austin, TX"
31,"Fraud Intelligence, Data Operations Analyst",White Ops,New York City Metropolitan Area
32,"Data Analytics Associate, CrossInstall",General Mills,"San Francisco, CA"
33,"Data Engineer, Analytics",Facebook,"New York, NY"
34,Data Analyst In - CO8494523,American Medical Response,"Greenwood Village, CO"
35,"Analyst, Data and Analysis",Digitas North America,"Boston, MA"
36,Data Scientist (Remote),Kraken Digital Asset Exchange,"Chicago, IL"
37,Data Analyst,BlueWave Resource Partners,"Atlanta, GA"
38,Data Analyst - Internal Analytics Platform,Datadog,"New York, NY"
39,Staff Business Data Analysis,Intuit,"San Diego, CA"
40,Data Analysis Associate,Boom Lab,"Atlanta, GA"
41,Data Analyst,Intrado,"Longmont, CO"
42,Data Analyst - Mobile Analytics,Affine Analytics,"Los Angeles, CA"
43,DATA ANALYST INTERN,CARE,"Atlanta, GA"
44,Data Analyst,Instapage,"San Francisco, CA"
45,Data Analyst - Remote Position! - Dallas,Seasoned Recruitment,"Dallas, TX"
46,Quantitative Trading Analyst Intern,DRW,"Chicago, IL"
47,Data Analyst I,Massachusetts General Hospital,"Charlestown, NH"
48,Data Analyst,Booz Allen Hamilton,"Arlington, VA"
49,Data Analyst,Aditi Consulting,"Chandler, AZ"

## Bonus Challenge

Allow your function to also retrieve the "Seniority Level" of each job searched. Note that the Seniority Level info is not in the initial search results. You need to make a separate search request for each job card based on the `currentJobId` value which you can extract from the job card HTML.

After you obtain the Seniority Level info, update the function and add it to a new column of the returned dataframe.

In [49]:
# your code here
def scrape_linkedin_job_search(keywords, num_pages=1, num_days=0, country=None):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Work on arguments
    country_text = f"&location={country}" if country else ""
    days_text = f"&f_TPR=r{num_days * 86400}" if num_days else ""
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    currentJobId = []
    
    for num in range(num_pages):
        # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 
                              'keywords=', keywords,
                              "&start=", str(num * 25),
                              days_text,
                              country_text])

        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')

    
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", 
                                      attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
            
            # Get level from next page
            deep_url = card.parent.find("a", class_ = "result-card__full-card-link").get("href")
            deep_page = requests.get(deep_url)
            deep_soup = BeautifulSoup(deep_page.text, 'html.parser')
            level = deep_soup.find(class_="job-criteria__text--criteria").text
            currentJobId.append(level)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations, currentJobId)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 
                          'Location': z[2], 'Job id': z[3]} , ignore_index=True)
    
    # Return dataframe
    return data
scrape_linkedin_job_search("data%20analysis")

,Title,Company,Location,Job id
0,Data Science and Analytics,Thermo Fisher Scientific,"Carlsbad, CA",Not Applicable
1,Data Analyst - Chicago,SpiderRock,"Chicago, IL",Entry level
2,Data Analyst,"Shoe Carnival, Inc.","Columbia, SC",Entry level
3,Data Analyst,"CapTech Ventures, Inc","Charlotte, NC",Entry level
4,"Analyst, Data and Analysis",Digitas India,"Boston, MA",Entry level
5,DATA ANALYST,Registry Ally,"Austin, TX",Mid-Senior level
6,"Fraud Intelligence, Data Operations Analyst",White Ops,New York City Metropolitan Area,Mid-Senior level
7,"Data Analytics Associate, CrossInstall",General Mills,"San Francisco, CA",Entry level
8,"Data Engineer, Analytics",Facebook,"New York, NY",Not Applicable
9,Data Analyst In - CO8494523,American Medical Response,"Greenwood Village, CO",Entry level
10,"Analyst, Data and Analysis",Digitas North America,"Boston, MA",Mid-Senior level
11,Data Scientist (Remote),Kraken Digital Asset Exchange,"Chicago, IL",Entry level
12,Data Analyst,BlueWave Resource Partners,"Atlanta, GA",Entry level
13,Data Analyst - Internal Analytics Platform,Datadog,"New York, NY",Entry level
14,Staff Business Data Analysis,Intuit,"San Diego, CA",Associate
15,Data Analysis Associate,Boom Lab,"Atlanta, GA",Associate
16,Data Analyst,Intrado,"Longmont, CO",Entry level
17,Data Analyst - Mobile Analytics,Affine Analytics,"Los Angeles, CA",Mid-Senior level
18,DATA ANALYST INTERN,CARE,"Atlanta, GA",Internship
19,Data Analyst,Instapage,"San Francisco, CA",Mid-Senior level
20,Data Analyst - Remote Position! - Dallas,Seasoned Recruitment,"Dallas, TX",Entry level
21,Quantitative Trading Analyst Intern,DRW,"Chicago, IL",Internship
22,Data Analyst I,Massachusetts General Hospital,"Charlestown, NH",Associate
23,Data Analyst,Booz Allen Hamilton,"Arlington, VA",Entry level
24,Data Analyst,Aditi Consulting,"Chandler, AZ",Entry level